.titulos{
    text-align: center;
    font-size: xx-large;
}

p{
    text-align: justify;
    font-size: x-large;
}

a{
    text-decoration: none;
    font-size: xx-large;

}

a:visited{
    text-decoration: none;

}

.road-rage-regular {
  font-family: "Road Rage", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke; 
  text-decoration: none;
      a{
        text-decoration: none;

    }
    a:visited{
        text-decoration: none;

    }
}
